<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<p>
Hi {{.FullName}},
</p>
<p>
You have reset password in our system.<br>
Your new pasword is <span style="font-weight: bold;">{{.NewPassword}}</span>. 
</p>
<p>
Autorialto team.
</p>
<p>
</body>
</html>