<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<p>
Hi {{.FullName}},
</p>
<p>
You have registered in our system.<br>
In order to complete registration please click <a href="{{.ActivationUrl}}">here</a>. 
</p>
<p>
Autorialto team.
</p>
<p>
</body>
</html>